body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.good {
  background-image: url('images/icons/corn.png');
}

.bad {
  background-image: url('images/icons/grass.png');
}


/*
green: #4c9f70
light brown: #e1c38e
*/