body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .grass, .corn {
  height: 50px;
  width: 50px;
  background-size: cover;
  z-index: 1;
}

.corn {
  background-image: url("./images/icons/corn.png");
}

.grass {
  background-image: url("./images/icons/grass.png");
} */


/*
green: #4c9f70
light brown: #e1c38e
*/