body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.field {
  width: 1000px;
  height: 800px;
  background: #e1c38e;
  margin: 200px auto;
  border: 4px solid black;
}

.icon img {
  height: 100px;
  width: 100px;
}

/*
green: #4c9f70
light brown: #e1c38e
*/